extends layout

block variables
  -var title = "Weather"

block content
  h2.text-center Weather
  
  .row
  .offset-sm-2.col-sm-8
    h2
      p
        | Getting the weather using the Open Weather API
        .row
        form.form-inline(method="post", action="weather")
          .form-group
            label.sr-only(for="inputEmail") City Name
            input.form-control( name="city" type="text" placeholder="Enter City Name" required='required')  
            | &nbsp;&nbsp;
            button.btn.btn-primary(type="submit") Fetch 
    hr      button.btn.btn-primary(type="submit") Convert to Celsius  
    p
    strong Weather Forecast #{forecast}
    table.table
      thead
        tr
          th Longitude/Latitude
          th Pressure
          th Temperature
          th Humidty
          th Speed
        tbody 
          if body
            tr
            td
              #{body.coord.lon} / #{body.coord.lon}
            td 
              #{body.main.pressure}
            td
              #{body.main.temp}
            td
              #{body.main.humidity}
            td
              #{body.wind.speed}
          else
          tr
            td(colspan="6")
              | Enter city name and then click the fetch weather button
